{% extends "base.html" %}

{% block content %}

<!-- <section> begin ============================-->
<section class="pt-8">
    <div class="container">
    <div class="row h-100 align-items-center">
        <div class="col-md-12 col-lg-6 h-100">
        <div class="card card-span text-white h-100"><img class="w-100" src="{{ url_for('static', filename='assets/img/gallery/menina_lendo.png') }}" alt="..." />
            <!-- 
            <div class="card-body px-xl-5 px-md-3 pt-0">
            <div class="d-flex flex-column align-items-center bg-200" style="margin-top:-2.4rem;">
                <h5 class="mt-3 mb-0">Kimmie Vo</h5>
                <p class="text-muted">Junior Designer</p>
            </div>
            </div>
            -->
        </div>
        </div>
        <div class="col-md-12 col-lg-6 h-100">
        <h1 class="mb-0">Janduís Literário</h1>
        <p class="text-justify"><br>
          Olá, somos "Janduís Literário - Biblioteca Colaborativa", tudo bem? Nosso propósito é fomentar a leitura em nosso município tornando-a mais acessível para todos e de certa forma democratizar o acesso aos livros. Nenhum de nós é tão forte quanto nós todos juntos, por esse motivo somos colaborativo: contamos com a colaboração de todos que possuem livros para disponibilizarem os mesmos para que outras pessoas possam ler. Acreditamos que através da leitura a gente possa mudar as pessoas, que por sua vez são capazes de mudar a realidade em que estão inseridas e que em coletividade podem causar revoluções locais e somarem para uma revolução global. 
          A nossa armas é o livro e nossa revolução começa agora. "Seja a mudança que você quer ver no mundo" Marhatma Gandhi.
          <br>
        </p>
        <!--
        <div class="mt-6">
            <h5 class="font-sans-serif fw-bold mb-3">The courses that Kimmie has taken</h5>
            <div class="card card-span bg-600">
            <div class="card-body">
                <div class="row flex-center gx-0">
                <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="assets/img/gallery/art-design.png" width="120" alt="courses" /></div>
                <div class="col-lg-8 col-xl-9">
                    <h5 class="font-sans-serif fw-bold">Modern and Contemporary Art and Design</h5>
                    <p class="text-muted fs--1">The Museum of Modern Art</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        -->
        </div>
    </div>
    </div><!-- end of .container-->
</section><!-- <section> close ============================-->

<!-- ============================================-->

<section>
    <div class="bg-holder" style="background-image:url({{ url_for('static', filename='assets/img/gallery/funfacts-2-bg.png') }});background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container text-center">
      <div class="row">
        <div class="col"><img src="{{ url_for('static', filename='assets/img/gallery/books.svg') }}" height="100" alt="..." />
          <h1 class="my-2">{{ books[0]['total'] }}</h1>
          <p class="text-info fw-bold">Livros Cadastrados</p>
        </div>
        <div class="col"><img src="{{ url_for('static', filename='assets/img/gallery/users.svg') }}" height="100" alt="..." />
          <h1 class="my-2">{{ users[0]['total'] }}</h1>
          <p class="text-info fw-bold">Usuários</p>
        </div>
        <div class="col"><img src="{{ url_for('static', filename='assets/img/gallery/lending.svg') }}" height="100" alt="..." />
          <h1 class="my-2">{{ lendings[0]['total'] }}</h1>
          <p class="text-info fw-bold">Empréstimos Bem Sucedidos</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================-->

{% endblock %}